* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Comic Neue', cursive;
}

.banner {
    height: 300px;
    width: 100%;
    position: relative;
    background-image: url(../images/design1_image1.jpg);
    background-position: center;
    background-size: cover;
}

.banner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

h1 {
    position: absolute;
    top: 0;
}

.subtitle {
    position: relative;
    background: black;
}

h2 {
    color: white;
    height: 50px;
    text-align: center;
    padding-top: 2.5vh;
}

.logo {
    position: absolute;
    right: 10%;
    top: -90%;
}

.logo img {
    height: 150px;
    width: 150px;
}

nav ul {
    list-style: none;
}

nav ul li {
    padding: 5px 25px 25px 5px;
    box-sizing: border-box;
}

nav ul li a {
    color: blue;
    padding: 0;
}

.container-nav-main {
    margin: 4vh;
    position: relative;
}

nav {
    width: 15%;
    padding: 2vh;
    align-self: center;
    position: absolute;
    display: inline-block;
}

main {
    width: 45%;
    padding: 2vh;
    position: absolute;
    display: inline-block;
    left: 20%;
}

main article p{
    margin-bottom: 1vh;
}

.img-hockey {
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 40%;
    padding: 2vh;
    align-self: center;
    left: 60%;
}

.img-hockey img {
    max-height: 150px;
}

p{
    text-indent: 12px;
}

h3{
    font-style: italic;
}

.a-home /**a-about a-contact**/{
    color: black;
    text-decoration:none;
}