* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Prompt', sans-serif;
}

/*header*/
header{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.logo{
    margin-bottom: -30px;
}

.logo img {
    height: 110px;
    z-index: 99;
}

nav a {
    color: #fbe42c;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
    word-wrap:initial;
}

nav a:hover {
    color: #faf9f0;
    border-bottom: solid #ffff 2px;
    padding: 5px;
}

/*banner*/
.banner {
    height: 300px;
    width: 100%;
    background-image: url(../images/design1_image1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    z-index: -1;
}

.banner img {
    width: 100%;
    height: 300px;
}

.h1 {
    background: black;
    opacity: 0.5;  
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 50px;
    padding: 6px;
    color: #ffff;
    text-transform: uppercase;
}

/*subtitle*/
.subtitle {
    background-color: #5ca49c;   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

h2 {
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgba(32,32,32,0.3);
}

/*main*/
main {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    /* you may aply media queries and flex-wrap: wrap; */
}

main article p {
    margin-bottom: 10px;
}

article{
    padding:20px;
    background-color: #eeeee9;
    border-radius: 15px 0 0 15px;
    box-shadow: 1px 1px 1px 1px rgba(32,32,32,0.3);
}

.cont-radius{
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgba(32,32,32,0.3);
    background-color: #eeeee9;
    padding:20px;
}

.img-hockey {
    padding:20px;
    background-color: #eeeee9;
    display: flex;
    align-items: center;
    border-radius: 0 15px 15px 0;
    box-shadow: 1px 1px 1px 1px rgba(32,32,32,0.3);
    /* if it doesn´t work apply media queries and display none */
}

.img-home{
    width: 502px;
    justify-content: center;
}

.img-hockey img {
    width: 400px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.img-hockey-contact{
    background-color:#5ca49c17;
    border-radius: 15px;
}

p {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: justify;
    letter-spacing: 1.5px;
}

/*game-info table*/
table{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color:white;
}

table, th,td {
    border-spacing: 10px;
    padding: 5px;
}

.italic{
    font-style: italic;
}

.underline{
    text-decoration: underline;
}

/*rules - lists*/
ul{
    text-align: justify;
    padding: 0px 0px 10px 30px;
}
ul.sportmanship-all-play {
    list-style: none;
    padding-left: 0px;
}

ul.field-regulations {
    list-style: decimal;
}

ul.fields-young {
    list-style:lower-alpha;
}

li.all-play {
    list-style: circle;
    padding-left: 0px;
}

li{
    padding: 10px 0px 10px 0px;
}

.bold-text{
    font-weight: bold;
}

/*registration form*/
form{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

fieldset{
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
}

input{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.two-rows-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.two-rows-div fieldset{
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width:50%;   
}

.two-rows-div-dir-col fieldset {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
}

.personal-information{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#lastname, #firstname{
    width: 300px;
}

.button{
    padding: 5px;
    width: 50px;
    background-color: #5ca49c;
    border-radius: 10px;
    color: #ffff;
    font-weight: bold;
    width: 200px;
    font-size: larger;
    text-transform: uppercase;
}

.button:hover{
    padding: 5px;
    width: 50px;
    background-color: #fbe42c;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    width: 200px;
    font-size: larger;
    text-transform: uppercase;    
}   

label{
    padding: 3px;
}

/*show data styles*/
.main-shd{
    background-color: #eeeee9;
    padding: 50px;
}

.sh-data-tb :nth-child(1) {
    border:solid gray 1px;
}

.sh-data-tb :nth-child(2) {
    border:solid gray 1px;
}