* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Prompt', sans-serif;
}

/* correcciones: anchors: sacar ul li, 
directamente a htmls todos juntos ... sueltos
reducir uso de position x flexbox
*/

/*header*/
header{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.logo{
    margin-bottom: -30px;
    
}

.logo img {
    height: 110px;
    z-index: 99;
    
}

nav a {
    color: #fbe42c;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
    word-wrap:initial;
}

nav a:hover {
    color: #faf9f0;
    border-bottom: solid #ffff 2px;
    padding: 5px;
}

/*banner*/
.banner {
    height: 300px;
    width: 100%;
    background-image: url(../images/design1_image1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    z-index: -1;
}

.banner img {
    width: 100%;
    height: 300px;
}

.h1 {
    background: black;
    opacity: 0.5;  
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
}

h1 {
    font-size: 50px;
    padding: 6px;
    color: #ffff;
    text-transform: uppercase;
}

/*subtitle*/
.subtitle {
    background-color: #5ca49c;   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

h2 {
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgba(32,32,32,0.3);
}

/*main*/
main {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    /* usar con media query flex-wrap: wrap; */
}

main article p {
    margin-bottom: 10px;
}

article{
    padding:20px;
    background-color: #eeeee9;
    border-radius: 15px 0 0 15px;
    box-shadow: 1px 1px 1px 1px rgba(32,32,32,0.3);
}

.cont-radius{
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgba(32,32,32,0.3);
    background-color: #eeeee9;
    padding:20px;
}

.img-hockey {
    padding:20px;
    background-color: #eeeee9;
    display: flex;
    align-items: center;
    border-radius: 0 15px 15px 0;
    box-shadow: 1px 1px 1px 1px rgba(32,32,32,0.3);
    /* usar con media query display none si no queda bien; */
}

.img-home{
    width: 502px;
    justify-content: center;
}

.img-hockey img {
    width: 400px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.img-hockey-contact{
    background-color:#5ca49c17;
    border-radius: 15px;
}

p {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: justify;
    letter-spacing: 1.5px;
}

/*game-info tabla*/
table{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color:white;
}

table, th,td {
    border-spacing: 10px;
    padding: 5px;
}

.italic{
    font-style: italic;
}

.underline{
    text-decoration: underline;
}

/*rules - listas*/
ul{
    text-align: justify;
    padding: 0px 0px 10px 30px;
}
ul.sportmanship-all-play {
    list-style: none;
    padding-left: 0px;
}

ul.field-regulations {
    list-style: decimal;
}

ul.fields-young {
    list-style:lower-alpha;
}

li.all-play {
    list-style: circle;
    padding-left: 0px;
}

li{
    padding: 10px 0px 10px 0px;
}

.bold-text{
    font-weight: bold;
}