<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mighty Ducks Hockey League</title>
</head>
<body>
    <header>

        <figure>
            <img src="../assets/images/logo-mighty-ducks-01.png" alt="logo" width="200">
        </figure>

        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../templates/aboutMDHL.html">About MDHL</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        
        <h1>Mighty Ducks Hockey League</h1>
    </header>

    <section>
        
        <figure>
            <img src="../assets/images/hockey3.jpg" alt="hockey3" width="200">
            <figcaption>Fotos reales de Hockey</figcaption>
        </figure>

        <p>Please email us at mdhl@chihockey.org</p>
        <p>We reply to your email as soon as we can.</p>
    </section>
    
</body>
</html>